<div class="container mt-5">
    <form [formGroup]="newPaymentForm" (ngSubmit)="onSubmit()">
    <div class="row my-5">
        <div class="col-md">
            <div>
            <label class="py-2">Country</label><br>
            <select formControlName="country" class="inputform" (change)="setBanknameList()">
                <option [value]="null">Select Country</option>
                <option [value]="item.CODE" *ngFor="let item of countryList">{{item.DESCRIPTION}}</option>
            </select>
        </div>
        <div *ngIf="validation.country.errors && (validation.country.dirty || validation.country.touched)">
            <div class="text-danger" *ngIf="validation.country?.errors?.required">Field is invalid!
            </div>
        </div>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md">
                <label class="py-2">Account Type</label><br>
                <div class="d-flex justify-content-between">
                    <button class=" py-2   w-100 mx-1 border-0" type="button" (click)="showBankModel()"
                    [ngClass]="bankModel? 'btn-dark' : 'btnmoney'"
                     style="box-shadow: 0px 15px 20px -8px #111; ">
                     Bank</button>
                    <button type="button" class="py-2 btn w-100 mx-1 "
                    [ngClass]="mobileModel? 'btn-dark' : 'btnmoney'"
                     (click)="showMobileModel()" >Mobile Money</button>
            </div>
        </div>
    </div>
    <hr>

    <ng-container *ngIf="bankModel == true" >
    <div class="row mt-4">

        <div class="col-md">
            <div >
                <label class="py-2">Bank Name</label><br>
                <select formControlName="bankName" class="inputform" (change)="setSortcodeList()" required>
                    <option [value]="null">Select Bank Name</option>
                    <option [value]="item.BANK_CODE" *ngFor="let item of banknameList">{{item.DESCRIPTION}}</option>
                </select>
            </div>
            <div *ngIf="validation.bankName.errors && (validation.bankName.dirty || validation.bankName.touched)">
                <div class="text-danger" *ngIf="validation.bankName?.errors?.required">Field is invalid!
                </div>
            </div>
        </div>

       
        <div class="col-md-1"></div>
        <div class="col-md">
            
            <label class="py-2">Sort Code</label>
            <div class="d-flex">
            <input type="text" style="width: 60%;" value="22" formControlName="sortCode" class="inputform">
            <button class="mx-2 py-auto  btn-dark px-4 w-50 border-0" >Find Sort Code</button>
            <!-- <option [value]="null">Select Provider</option>
                <option [value]="item.BANK_CODE" *ngFor="let item of providerList">{{item.SORT_CODE}}</option> -->
        </div>
        <div *ngIf="validation.sortCode.errors && (validation.sortCode.dirty || validation.sortCode.touched)">
            <div class="text-danger" *ngIf="validation.sortCode?.errors?.required">Field is invalid!
            </div>
        </div>
    </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md">
            <div class="mt-4">
            <label class="py-2">Account No</label><br>
            <input type="text" formControlName="accountNo" class="inputform">
        </div>
        <div *ngIf="validation.accountNo.errors && (validation.accountNo.dirty || validation.accountNo.touched)">
            <div class="text-danger" *ngIf="validation.accountNo?.errors?.required">Field is invalid!
            </div>
        </div>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md">
            <div class="mt-4">
                <label class="py-2">Bank Branch</label><br>
                <input type="text" formControlName="bankBranch" class="inputform">
                <div *ngIf="validation.bankBranch.errors && (validation.bankBranch.dirty || validation.bankBranch.touched)">
                    <div class="text-danger" *ngIf="validation.bankBranch?.errors?.required">Field is invalid!
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md">
        <div class="mt-4">
            <label class="py-2">Account Name</label><br>
            <input type="text" formControlName="accountName" class="inputform">
            <div *ngIf="validation.accountName.errors && (validation.accountName.dirty || validation.accountName.touched)">
                <div class="text-danger" *ngIf="validation.accountName?.errors?.required">Field is invalid!
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md"></div>
   
</div>
<div class="row">
    <div class="col-md">
        <div class="mt-4">
            <input type="file" id="filebtn" (change)="upload($event)">
            <button for="filebtn" type="button" class="btn py-2 btnmoney w-100">Upload Proof of Account</button>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md"></div>
</div>
</ng-container>

<ng-container *ngIf="mobileModel == true" >
    <div class="row mt-4">
        <div class="col-md">
            <div class="mt-4">
            <label class="py-2">Provider</label><br>
            <select formControlName="provider" class="inputform" required>
                <option [value]="null">Select Provider</option>
                <option [value]="item.code" *ngFor="let item of providerList">{{item.CODE_TITLE}}</option>
            </select>
        </div>
        <div *ngIf="validation.accountNo.errors && (validation.accountNo.dirty || validation.accountNo.touched)">
            <div class="text-danger" *ngIf="validation.accountNo?.errors?.required">Field is invalid!
            </div>
        </div>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md">
            <div class="mt-4">
                <label class="py-2">Account No</label><br>
                <input type="text" formControlName="accountNo" class="inputform">
            </div>
            <div *ngIf="validation.accountNo.errors && (validation.accountNo.dirty || validation.accountNo.touched)">
                <div class="text-danger" *ngIf="validation.accountNo?.errors?.required">Field is invalid!
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="d-flex justify-content-between my-5">
    <div class="d-flex" >
        <button type="button"  (click)="closeBank()" class="border-0 prev ml-3"><i class="fas fa-arrow-left"></i></button>
        <span class="mx-3 my-auto">Prev</span>
    </div>
    <div class="d-flex">
        <span class="mx-3 my-auto">Next</span>
        <button type="submit"  class="border-0 next ml-3"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>
</form>
</div>