$primary: #514ef5;
$secondary: #e67e22;
$success: #2ecc71;
$danger: #e74c3c;
$dark: #1F1F1F;
$general_color: #E3A429;
$health_color: #000AFD;
$finance_color: #01BC2A;
$document_color: #0BBCC8;
$actuarial_color: #f103CB;
$crm_color: #c8003c;
$cash_color: #31b475;
$assets_color: #d63384;
$analytics_color: #dc3545;
$evolutics_background_gray: #e5e5e5;
