@import "mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Raleway";
}

.check-border {
  border-bottom: 1px solid #B4B4B4
}

.grey {
  color: #B4B4B4;
}

.heading-color-primary {
  color: #5914C9;
}

.align-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-color-primary {
  color: #5914C9;
}

.save {
  width: 30%;
  height: 6vh;
  border-radius: 0 10px;
}

.title-border {
  border-bottom: 1px solid #B4B4B4
}

.center-button {
  align-self: flex-end;
  padding: 0;
}

.height-select {
  height: 47px;
}

thead, tr, td {
  text-align: center;
}

thead tr {
  border-radius: 0 10px;
  font-weight: 700;
}

.topbarElement {
  font-weight: 700;
}

.centertext {
  text-align: center
}

.title-border {
  border-bottom: 1px solid #B4B4B4
}

.bg-general {
  background: $general_color;
}

.bg-health {
  background: $health_color;
}

.bg-actuarial {
  background: $actuarial_color;
}

.bg-finance {
  background: $finance_color;
}

.bg-document {
  background: $document_color;
}

.bg-crm {
  background: $crm_color;
}

.bg-cash {
  background: $cash_color;
}

.bg-assets {
  background: $assets_color;
}

.bg-analytics {
  background: $analytics_color;
}


.navbar {
  #navbarNav, #navbar1 {
    ul {
      li {
        a {
          font-size: .85rem;
        }
      }
    }
  }
}

.dropdown-menu-dark {
  background: $dark;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.bg-light-gray-evolutics {
  background: $evolutics_background_gray;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}

#section_home {
  .user_welcome_text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: #545454;

    .bold {
      font-weight: bold;
    }

  }

  .user_email_text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    color: #808080;
  }

  .user_number_task {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #545454;
  }

  #section_cards {
    .card {
      position: relative;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      color: white;
      min-height: 150px;
      overflow: hidden;
      padding: 0;

      .card-title {
        position: absolute;
        right: 9px;
        bottom: 20px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
      }

      p {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
      }
    }

    .color1 {
      background: #1B1A50;

      &:after {
        content: "";
        background: #21A980;
        width: 80px;
        height: 60px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;

      }

      &:before {
        z-index: 0;
        position: absolute;
        bottom: 0;
        content: "";
        border-top: 1px solid white;
        border-right: 1px solid white;
        width: 90px;
        height: 70px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;
      }
    }

    .color2 {
      background: #5914C9;

      &:after {
        content: "";
        background: #FEC55F;
        width: 80px;
        height: 60px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;

      }

      &:before {
        z-index: 0;
        position: absolute;
        bottom: 0;
        content: "";
        border-top: 1px solid white;
        border-right: 1px solid white;
        width: 90px;
        height: 70px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;
      }
    }

    .color3 {
      background: #262637;

      &:after {
        content: "";
        background: #9441FF;
        width: 80px;
        height: 60px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;

      }

      &:before {
        z-index: 0;
        position: absolute;
        bottom: 0;
        content: "";
        border-top: 1px solid white;
        border-right: 1px solid white;
        width: 90px;
        height: 70px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;
      }

    }

    .color4 {
      background: #262637;

      &:after {
        content: "";
        background: #FF76C8;
        width: 80px;
        height: 60px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;

      }

      &:before {
        z-index: 0;
        position: absolute;
        bottom: 0;
        content: "";
        border-top: 1px solid white;
        border-right: 1px solid white;
        width: 90px;
        height: 70px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;
      }

    }

    .color5 {
      background: #3330D4;

      &:after {
        content: "";
        background: #DB0042;
        width: 80px;
        height: 60px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;

      }

      &:before {
        z-index: 0;
        position: absolute;
        bottom: 0;
        content: "";
        border-top: 1px solid white;
        border-right: 1px solid white;
        width: 90px;
        height: 70px;
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 20px;
      }

    }
  }

  #performance_indicator {
    background: white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  #workflow_task {
    min-height: 100px;
    background: white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .table {
      .square {
        margin: 0 auto;
        height: 10px;
        width: 10px;
        background-color: #555;

      }

      .red {
        background: #DB0042;
      }

      .yellow {
        background: #FEC55F;
      }

      .green {
        background: #21A980;
      }

      tbody {
        vertical-align: middle !important;
      }

      tr {
        th {
          color: #1B1A50;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          border-bottom: 1px solid #e2e1e1 !important;
        }

        td {
          color: #545454;
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }


}

#toolbar {
  background: #262637;
  position: relative;
  overflow: hidden;

  .pattern1-circleL1 {
    height: 70px;
    border-bottom-right-radius: 100%;
    background: #7775FF;
    width: 12%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .pattern1-circleR1 {
    height: 130px;
    border-radius: 100%;
    background: #7775FF;
    width: 10%;
    bottom: -60px;
    right: -40px;
    position: absolute;
  }

  .arrow {
    z-index: 3;
    color: white;
    cursor: pointer;
  }

  .toolbarTitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    color: white;
  }
}

.control-bg-gray {
  background-color: #F4F4F4;
  border: none;

  &:focus {
    background: #F4F4F4;
  }
}

.btn-clone {
  background: #F4EBFF;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

#from-contianer {
  position: relative;

  .bottom-left-circle {
    position: relative;
    height: 150px;
    width: 150px;
    bottom: 0;
    left: 0;
    background: #F9F9F9;
    border-top-right-radius: 100%;
  }

  .bottom-right-circle {
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: 0;
    right: 0;
    background: #F9F9F9;
    border-top-left-radius: 100%;
  }

  .bottom-left-circle-outline {
    position: absolute;
    height: 120px;
    width: 140px;
    bottom: 0;
    border-right: 1px solid #000;
    left: 0;
    border-top-right-radius: 100%;
  }

  .bottom-right-circle-outline {
    position: absolute;
    height: 120px;
    width: 140px;
    bottom: 0;
    border-left: 1px solid #000;
    right: 0;
    border-top-left-radius: 100%;
  }
}

/* FORM COMPONENT CSS */

.inputform{
  width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
    height: 30px;
}
.prev{
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px 20px 3px 20px;
  color: white;
}
.next{
  background-color: #c8003c;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 3px 20px 3px 20px;
  color: white;
}

.createbtn{
  background-color: white;
  border: 2px solid #c8003c;
  color: #c8003c;
  border-radius: 8px;
  font-size: 13px;
}
.addbtn{
background-color: white;
  border: 2px solid #c8003c;
  color: #c8003c;
  border-radius: 8px;
  padding: 13px;
}
.btn-dark{
border-radius: 8px;
font-size: 13px;
}