<div  class="bg-light-gray-evolutics">
  <app-navigation></app-navigation>
  <div id="section_home">
    <div class="container-fluid p-5">
      <div id="section_cards" class="row justify-content-around">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9">
              <div class="row row-cols-1 row-cols-md-2 g-2 mb-2 ">
                <div class="col">
                  <div class="card color1 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">30</h5>
                      <p>New task</p>
                    </div>

                  </div>
                </div>
                <div class="col ">
                  <div class="card color2 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">5</h5>
                      <p>Close to SLA</p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-2 g-2 mb-1">
                <div class="col">
                  <div class="card color3 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">30</h5>
                      <p>Task Escalated SLA</p>
                    </div>

                  </div>
                </div>
                <div class="col">
                  <div class="card color4 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">8</h5>
                      <p>Task Snoozed</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card col-md-3 color5">
              <div class="card-body">
                <h5 class="card-title">30</h5>
                <p>Outside SLA</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-5 shadow-sm" id="performance_indicator">
        </div>
        <div class="px-4">
          <div class="row px-4">
            <h6 class="mt-4 mx-0"> Workflow task</h6>
            <div id="workflow_task" class="py-3 shadow-sm">
              <table class="table table-responsive ">
                <thead >
                <tr class="py-5">
                  <th scope="col">Level</th>
                  <th scope="col">Business</th>
                  <th scope="col">Task</th>
                  <th scope="col">Ref Category</th>
                  <th scope="col">Ref No</th>
                  <th scope="col">Start</th>
                  <th scope="col">Due</th>
                  <th scope="col">Time Outside SLA</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="square red"></div></td>
                  <td>L</td>
                  <td>Credit Note</td>
                  <td>Policy Number</td>
                  <td>EVO007666</td>
                  <td>Dec 15 2020 09:30 </td>
                  <td>Dec 20 2020 09:30</td>
                  <td>--</td>
                  <td><div class="btn btn-primary p-2">Action</div></td>
                </tr>
                <tr>
                  <td><div class="square yellow"></div></td>
                  <td>L</td>
                  <td>Credit Note</td>
                  <td>Policy Number</td>
                  <td>EVO007666</td>
                  <td>Dec 15 2020 09:30 </td>
                  <td>Dec 20 2020 09:30</td>
                  <td>--</td>
                  <td><div class="btn btn-primary p-2">Action</div></td>
                </tr>
                <tr>
                  <td><div class="square green"></div></td>
                  <td>L</td>
                  <td>Credit Note</td>
                  <td>Policy Number</td>
                  <td>EVO007666</td>
                  <td>Dec 15 2020 09:30 </td>
                  <td>Dec 20 2020 09:30</td>
                  <td>--</td>
                  <td><div class="btn btn-primary p-2">Action</div></td>
                </tr>
                <tr>
                  <td><div class="square red"></div></td>
                  <td>L</td>
                  <td>Credit Note</td>
                  <td>Policy Number</td>
                  <td>EVO007666</td>
                  <td>Dec 15 2020 09:30 </td>
                  <td>Dec 20 2020 09:30</td>
                  <td>--</td>
                  <td><div class="btn btn-primary p-2">Action</div></td>
                </tr>
                <tr>
                  <td><div class="square yellow"></div></td>
                  <td>L</td>
                  <td>Credit Note</td>
                  <td>Policy Number</td>
                  <td>EVO007666</td>
                  <td>Dec 15 2020 09:30 </td>
                  <td>Dec 20 2020 09:30</td>
                  <td>--</td>
                  <td><div class="btn btn-primary p-2">Action</div></td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

