<nav class="navbar  navbar-expand-lg  navbar-dark shadow-sm" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/evolutics_logo.png" alt="" height="24">
    </a>
    <a href="/" class="navbar-brand">Evolutics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-between mx-auto" >
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1 active">
          <a class="nav-link" routerLink="/life" routerLinkActive="active">
            <fa-icon [icon]="faHeart"></fa-icon>
            Life</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/general" routerLinkActive="active">
            <fa-icon [icon]="faTruck"></fa-icon>
            General</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/health" routerLinkActive="active">
            <fa-icon [icon]="faHeartbeat"></fa-icon>
            Health</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/actuarial" routerLinkActive="active">
            <fa-icon [icon]="faSignal"></fa-icon>
            Actuarial</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/crm" routerLinkActive="active">
            <fa-icon [icon]="faChartPie"></fa-icon>
            CRM</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/analytics" routerLinkActive="active">
            <fa-icon [icon]="faChartBar"></fa-icon>
            Analytics</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/assets" routerLinkActive="active">
            <fa-icon [icon]="faChartLine"></fa-icon>
            Assets Management</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/finance" routerLinkActive="active">
            <fa-icon [icon]="faCoins"></fa-icon>
            Finance</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/cash" routerLinkActive="active">
            <fa-icon [icon]="faReceipt"></fa-icon>
            Cash Receipting</a>
        </li>
        <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
          <a class="nav-link" routerLink="/document" routerLinkActive="active">
            <fa-icon [icon]="faFileWord"></fa-icon>
            Document</a>
        </li>


      </ul>
    </div>
  </div>

</nav>
