<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="navbar-collapse collapse navbars" id="navbar1">
    <ul class="navbar-nav justify-content-between mx-auto">

      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Agent
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">

          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Agent</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Create New Agent &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item"  >Individual</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" >Coporate</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Provider</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Client
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Client</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Create New Client &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" [routerLink]="['/life/allform']" >Individual</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/life/common']">Coporate</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Provider</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Quotation
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Quote</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Create New Quotation &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Individual</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Group</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Policy
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Policy</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Group
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Group</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Workflow
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Overview</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Find Workflow task</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Create New &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Task</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Schedule</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Payment
          Desk</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Create Coupon</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Authorize Coupon</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Pending Payment Outwards</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Authorize Payment Outwards</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Authorize Inward Suspense Switch</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Authorize Policy Account</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Authorize Commission Adjustments</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Set-ups</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a class="dropdown-item" href="#">
              Products &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#" routerLink="/life/setup/product-cover-code">Cover Code</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Product Code</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Screens &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Covers</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">TBC</a>
              </li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Translations &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Menu</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Template</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Auto Translator</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">System Message</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Code &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Parameters</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Premium Frequencies</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Premium Payment Method</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Numbering</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Currency</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Correspondence &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Quotation</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Email</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Print</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">SMS</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Webhook</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Template</a>
              </li>


            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Accounts &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu  dropdown-submenu-left dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Account Code</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">General Ledger Mapping</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Bank &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu  dropdown-submenu-left dropdown-menu-dark ">
                  <li>
                    <a class="dropdown-item" href="#">Bank</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Sort Code</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Bank Accounts</a>
                  </li>
                </ul>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Payment Outward</a>
              </li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Process Design &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Process Maps</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Control</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Event List</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Status &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left dropdown-menu-dark ">
                  <li>
                    <a class="dropdown-item" href="#">Claim</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Policy</a>
                  </li>
                </ul>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">SLA</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item" href="#">Clients &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left dropdown-menu-dark ">
                  <li>
                    <a class="dropdown-item" href="#">Unique Check</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Mandatory Data</a>
                  </li>
                </ul>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Requirements &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left dropdown-menu-dark ">
                  <li>
                    <a class="dropdown-item" href="#">Claims</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">New Business</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Task Set up
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Tariffs
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">
              Reinsurance &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Treaties</a>
              </li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Agents &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Agent Type</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Band</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Product Grouping</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Commission Code</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Agent Loan Type</a>
              </li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Rates &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">General Rates</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Interest Rates</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Bonus Rates</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Discount Rates</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Tax Rates</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Short Term Rates</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Organization &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Appraisal &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu  dropdown-submenu-left dropdown-menu-dark ">
                  <li>
                    <a class="dropdown-item" href="#">Individual</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Team</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Sub Division</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Division</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Company</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Criteria</a>
                  </li>
                </ul>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Branches</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Companies</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item" href="#">
              Address &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="#">Country</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Region</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">State</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Town</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>
      <li class="nav-item mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link" routerLink="report">Reports</a>
      </li>
      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
           aria-expanded="false">Admin</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a class="dropdown-item">
              User &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu  dropdown-submenu-left dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="admin/user">User</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="admin/usergroup">User Group</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item"  routerLink="admin/usermenu">User Menu</a>
              </li>

            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/admindates">Dates</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/createbatch">Create Batch</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/runbatch">Run Batch</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/batchlog">Batch Log</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/interestcalculation">Interest Recalculation</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="admin/databasedefinition">Database Definition</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item"routerLink="admin/configuration">Configuration</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown mx-0 mx-xl-2 mx-lg-1">
        <a class="nav-link dropdown-toggle p-0" data-bs-toggle="dropdown" href="#" role="button"
           aria-expanded="false"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar"
                                      alt="Avatar"> {{username}} <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-dark">

          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLink="" (click)="signOut()">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
