<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-dark px-5 py-4"
  id="toolbar">
  <div class="pattern1-circleL1">

  </div>
  <div class="pattern1-circleR1">

  </div>

  <div class="col-md-3 mb-2 mb-md-0" style="z-index: 2">
    <a (click)="goBack()" class="arrow">
      <fa-icon [icon]="faArrowAltCircleLeft" size="3x"></fa-icon>
    </a>
  </div>

  <h2 class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 toolbarTitle">
    {{window_title}}
  </h2>

  <div class="col-md-3 text-end">

  </div>
</header>
