<div *ngIf="operation === 'actions'" class="container-sm mt-5 vh-100 " id="form-body">
    <div class="row h-50 justify-content-center d-flex flex-column">
      <div class="col-md-6 mx-auto my-5 align-middle">
        <form>
          <div class="form-group row form-group mt-2">
            <div class="col-sm-9">
                <label>Select Date Category</label>
                <select class="form-select height-select control-bg-gray">
                  <option></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            <div class="col-sm-3 center-button">
                <app-button [routerLink]="['show']" [buttonType]="'show'"></app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  
  </div>