<div *ngIf="operation === 'actions'" class="container-sm mt-5 " id="form-body">
    <div class="row">
      <div class="col-md-6 mx-auto my-5 align-middle">
        <form>
          <div class="form-group mt-2">
            <label>Batch No</label>
            <select class="form-select form-control-lg control-bg-gray">
              <option></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group mt-2">
            <label>Select Batch</label>
            <select class="form-select form-control-lg control-bg-gray">
              <option></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="row form-group row my-3">
            <div class="col-sm-9">
                <label>Enter Date</label>
                <select class="form-select form-control-lg control-bg-gray">
                  <option></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            <div class="d-flex flex-column justify-content-end col-sm-3 form-group">
              <app-button [routerLink]="['show']" [buttonType]="'show'"></app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


<div *ngIf="operation === 'show'" class="container" >

    <div class="row topbar mt-5 mb-2">
        <div *ngFor="let el of topBarElements" class=" col-md-2 mb-4 topbarElement">
            <div class="text-primary font-weight-bold">{{el.title}}</div>
            <div>{{el.content}}</div>
        </div>
    </div>

    <table class=" mt-5 table table-hover">

        <thead class="table bg-primary text-white ">
            <tr class="font-weight-bold py-5">
                <td scope="col">Seq No</td>
                <td scope="col">Process Type</td>
                <td scope="col">Select</td>
                <td scope="col">Process Code</td>
                <td scope="col">Process Name</td>
                <td scope="col">Parameter</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of tableElements" class="py-5">
                <td class="col-md-1" >
                    {{el.seqNo}}
                </td>
                <td class="col-md-2" >
                    {{el.processType}}
                </td>
                <td class="col-md-1" >
                    {{el.select}}
                </td>
                <td class="col-md-2">
                    {{el.processCode}}
                </td>
                <td class="col-md-4">
                    {{el.processName}}
                </td>
                <td class="col-lg-2">
                    {{el.parameter}}
                </td>
            </tr>
        </tbody>
    </table>
    </div>