    <div class=" form-body container-fluid mt-2">
        <div class=" row container mx-auto mt-5 pt-2">
            <div class="col-md-6 p-5">
                <div class=" form-group mt-4">
                    <label for="">Company</label>
                    <select class="form-select control-bg-gray" name="" id=""></select>
                </div>
                <div class=" form-group mt-4">
                    <label for="">Document Printer Option</label>
                    <select class="form-select control-bg-gray " name="" id=""></select>
                </div>
                <div class=" form-group mt-4">
                    <label for="">Max Login Attempts</label>
                    <input class="form-control control-bg-gray " type="text">
                </div>
                <div class=" form-group mt-4">
                    <label for="">Languages Allowed</label>
                    <select class="form-select control-bg-gray " name="" id=""></select>
                    <div class="row mt-5">
                        <div class="col-md-10 clear"></div>
                        <div class="col-md-2">
                            <button class="btn w-100 btn-outline-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class=" form-group mt-4">
                    <label for="">Currency Converter url</label>
                    <select class="form-select control-bg-gray " name="" id=""></select>
                </div>
                <div class=" form-check mt-4">
                    <label class="form-check-label " for="">Password is Case Sensitive</label>
                    <input class="form-check-input " type="checkbox">
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <button class="btn w-100 btn-primary">Email EvoBot Configuration</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <div class="  form-group mt-4">
                    <label for="">Minimum Password Length</label>
                    <input class="form-control control-bg-gray" type="text">
                </div>
                <div class=" row  form-group mt-4">
                    <div class=" col-md-9 ">
                        <label for="">Force Password Change After</label>
                        <input class="form-control control-bg-gray" type="text">
                    </div>
                    <div class="col-md-3 d-flex justify-content-end flex-column">
                        <span>Days</span>
                    </div>
                </div>
                <div class=" row  form-group mt-4">
                    <div class="col-md-9 ">
                        <label for="">Time Out After</label>
                        <input class="form-control control-bg-gray" type="text">
                    </div>
                    <div class=" col-md-3 d-flex justify-content-end flex-column">
                        <span>Min</span>
                    </div>
                </div>
                <div class=" form-group mt-4">
                    <label for="">Default Screen Color</label>
                    <select class="form-select control-bg-gray" name="" id=""></select>
                </div>
                <div class=" form-group mt-4">
                    <label for="">Auto Translate url</label>
                    <input class="form-control control-bg-gray" type="text">
                </div>
                <div class=" form-group mt-4">
                    <label for="">Vehicle Model Update url</label>
                    <input class="form-control control-bg-gray" type="text">
                </div>
                <div class=" form-group mt-4">
                    <label for="">Active Directory url</label>
                    <input class="form-control control-bg-gray" type="text">
                </div>
                <div class=" form-group mt-4">
                    <label for="">Vehicle Market Value</label>
                    <input class="form-control control-bg-gray" type="text">
                </div>
                <div class="row d-flex flex-row justify-content-end mt-4 ">
                    <div class="col-2 ">
                        <button class="btn w-100 btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>